.uses{
    
    .main-container{
        position: relative;
    }

    .section{
        margin-top: 25px;

        .title{
            font: {
                size: 21px;
                weight: 700;
            }
        }

        ul {
            padding-left: 25px;
            margin-bottom: 25px;

            .title-li{
                list-style-type: none;
                margin-left: -25px;
                margin-bottom: 5px;

                font: {
                    size: 16px;
                    weight: 700;
                }
                
            }
        }
    }

    .btn-group{
        position: absolute;
        right: 0;

        height: max-content;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;

        margin-top: 22px;

        .btn{
            background-color: #F8F8F8;
            color: black;
            border: none;

            line-height: 1.1rem;

            &:hover{
                color: black;
                font-size: 1.1rem;

                background-color: #F5F5F5;

                transition: 0.3s;
            }

            &.active{
                background-color: #F8F8F8;
                color: black;
                border: none;

                font-weight: 700;
            }
        }
    }
}